<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
</head>
<body>
    <h1>this is my first ejs page 1*5</h1>
    <h3><%= 1*5 %></h3>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium obcaecati ipsa quis dolore vero! Sapiente rerum, ullam perspiciatis 
        eaque soluta quae nemo voluptatum eligendi quam perferendis quos dolor, necessitatibus molestiae!</p>

        <button>login</button>
</body>
</html>